 body {
     background-color: #f2f2f2;
     display: flex;
     height: 800px;
     justify-content: center;
     align-items: center;
     margin: 0;
 }

 .Calculate {
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
 }